/* 
-------------------- Front-end Style Guide --------------------

---------- Layout ----------

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

-------------------- Colors --------------------

---------- Primary ----------

- Green 500: hsl(158, 36%, 37%)
- Green 700: hsl(158, 42%, 18%)

---------- Neutral ----------

- Black: hsl(212, 21%, 14%)
- Grey: hsl(228, 12%, 48%)
- Cream: hsl(30, 38%, 92%)
- White: hsl(0, 0%, 100%)

-------------------- Typography --------------------

---------- Body Copy ----------

- Font size (paragraph): 14px

---------- Font ----------

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700
*/

/* ---------- COLORS ---------- */
:root {
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--cream);
    font-family: 'Montserrat' 'Fraunces' sans-serif;
    font-size: 14px;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden;
    gap: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    width: 570px;
    height: 400px;
}

.main-img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    align-self: center;
    box-sizing: border-box;
}

.container {
    flex: 1;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);
    padding: 20px;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container p:first-child {
    letter-spacing: 4px;
    color: var(--green-500);
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat';
    margin-top: 0;
}

.container h1 {
    font-family: 'Fraunces';
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 30px;
}

.text-box {
    width: 85%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.container p:nth-of-type(2) {
    color: var(--green-500);
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.5;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* -------------------------------- PRICE -------------------------------- */
.price-list {
    list-style: none;
    display: flex;
    gap: 30px; 
    align-items: center; 
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.new-price {
    font-size: 30px; 
    font-weight: bold;
    font-family: 'Fraunces';
    color: var(--green-500);
}

.old-price {
    font-size: 10px; 
    font-family: 'Montserrat';
    color: var(--green-500);
    text-decoration: line-through; 
}

/* -------------------------------- CART BUTTON -------------------------------- */
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 20px;
}

.cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--white);
    background-color: var(--green-500);
    border: 1.2px solid var(--black);
    border-radius: 10px;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 14px;
    width: 210px;
    height: 45px;
}

.buttons img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.cart-btn:hover {
    background-color: var(--green-700);
}


@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .main-img {
    width: 100%;
  }

  .container {
    width: 100%;
    max-width: none;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .text-box {
    width: 100%;
  }
}