/* 
------------------------------ Front-end Style Guide ------------------------------

------------- Layout -------------

- Mobile: 375px
- Desktop: 1440px

-------------------------- Colors --------------------------

------------- Primary -------------

Blue 600: hsl(185, 75%, 39%)
Navy 950: hsl(229, 23%, 23%)
Gray 500: hsl(227, 10%, 46%)

------------- Neutral -------------

Gray 100: hsl(225, 10%, 92%)

-------------------------- Typography --------------------------

------------- Body Copy -------------

- Font size (name and stats): 18px

------------- Font -------------

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700
*/

/* ---------- COLORS ---------- */
:root {
  --gray-100: hsl(225, 10%, 92%);
  --gray-500: hsl(227, 10%, 46%);
  --blue-600: hsl(185, 75%, 39%);
  --navy-950: hsl(229, 23%, 23%);
  --black: hsl(212, 21%, 14%);
  --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--blue-600);
    background-image: url('images/bg-pattern-top.svg'), url('images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top -680px left -250px, bottom -300px right -500px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 280px;
}

.card {
    background-color: var(--white);
    width: 350px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: relative;
}

.card-top {
    background: url('images/bg-pattern-card.svg') no-repeat center/cover;
    height: 120px;
}

.profile-image {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid var(--white);
    overflow: hidden;
    margin-top: -20px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-bottom {
    margin-top: 70px;
    text-align: center;
    padding: 20px;
}

.card-bottom h2 {
    font-size: 16px;
    color: var(--navy-950);
    margin-top: -25px;
}

.card-bottom h2 span {
    color: var(--gray-500);
    font-weight: normal;
    margin-left: 3px;
}

.card-bottom p {
    color: var(--gray-500);
    font-size: 14px;
    margin-top: 5px;
}

.card-bottom hr {
    margin: 20px 0 20px 0;
    border: none;
    border-top: 1px solid var(--gray-100);
}

.stats {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.stats li {
    text-align: center;
}

.stats h3 {
    color: var(--navy-950);
    font-size: 16px;
    margin-bottom: 4px;
}

.stats p {
    color: var(--gray-500);
    font-size: 10px;
    letter-spacing: 1.5px;
}