/* 
-------------- Front-end Style Guide ----------------------------

------- Layout -------

- Mobile: 375px
- Desktop: 1440px

-------------- Colors --------------

- White: hsl(0, 0%, 100%)

- Slate 300: hsl(212, 45%, 89%)
- Slate 500: hsl(216, 15%, 48%)
- Slate 900: hsl(218, 44%, 22%)

---------------------------- Typography ----------------------------

-------------- Body Copy --------------

- Font size (paragraph): 15px

-------------- Font --------------

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700
*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    font-size: 15px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
    gap: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 220px;
    max-height: 400px;
    min-height: 350px;
    text-align: center;
    margin: 20px 0;
}

.container img {
    width: 115%;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: -15px;
    object-fit: contain;
}

.container h1 {
  font-size: 16px;
  font-weight: 700; 
  color: hsl(218, 44%, 22%);
  margin-bottom: 2px;
  margin-top: 5px;
}

.container p {
  font-size: 12px;
  color: hsl(220, 15%, 55%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 40px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}