body {
    font-family: Robot, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    display: block;
}

header {
    color: white;
    background-color: #007bff;
    padding: 1rem;
    text-align: center;
    font-size: 20px;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

article {
    display: block;
    unicode-bidi: isolate;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #007bff;
    font-weight: bold;
}

p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

section {
    display: block;
    unicode-bidi: isolate;
}

table {
    width: 100%;
    border-collapse:  collapse;
    margin-bottom: 2rem;
}

tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

th {
    color: white;
    font: 16px;
    background: #007bff;
    padding: 13px;
}

td {
    color: #333333;
    font: 16px;
    padding: 13px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

ul, ol {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    padding-left: 2rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

footer {
    color: white;
    background-color: #007bff;
    padding: 1rem;
    text-align: center;
}

.image {
    display: block;
    margin: auto;
}

pre {
    color: #333333;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    padding: 16px;
}